<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>sr_productos</servlet-name>
        <servlet-class>controlador.sr_productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_ventas</servlet-name>
        <servlet-class>controlador.sr_ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_marcas_adm</servlet-name>
        <servlet-class>controlador.sr_marcas_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_compras</servlet-name>
        <servlet-class>controlador.sr_compras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_proveedores</servlet-name>
        <servlet-class>controlador.sr_proveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_clientes_adm</servlet-name>
        <servlet-class>controlador.sr_clientes_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_empleados_adm</servlet-name>
        <servlet-class>controlador.sr_empleados_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_puestos_adm</servlet-name>
        <servlet-class>controlador.sr_puestos_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_ComprasDetalle_adm</servlet-name>
        <servlet-class>controlador.sr_ComprasDetalle_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_VentasDetalles_adm</servlet-name>
        <servlet-class>controlador.sr_VentasDetalles_adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_cuentaempleado</servlet-name>
        <servlet-class>controlador.sr_cuentaempleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_cuentacliente</servlet-name>
        <servlet-class>controlador.sr_cuentacliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sr_productos</servlet-name>
        <url-pattern>/admin/Empleado/sr_productos</url-pattern>
        <url-pattern>/admin/Administrador/sr_productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_ventas</servlet-name>
        <url-pattern>/admin/Empleado/sr_ventas</url-pattern>
        <url-pattern>/admin/Administrador/sr_ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_marcas_adm</servlet-name>
        <url-pattern>/admin/Empleado/sr_marcas_adm</url-pattern>
        <url-pattern>/admin/Administrador/sr_marcas_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_compras</servlet-name>
        <url-pattern>/admin/Empleado/sr_compras</url-pattern>
        <url-pattern>/admin/Administrador/sr_compras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_proveedores</servlet-name>
        <url-pattern>/sr_proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_clientes_adm</servlet-name>
        <url-pattern>/admin/Empleado/sr_clientes_adm</url-pattern>
        <url-pattern>/admin/Administrador/sr_clientes_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_empleados_adm</servlet-name>
        <url-pattern>/admin/Empleado/sr_empleados_adm</url-pattern>
        <url-pattern>/admin/Administrador/sr_empleados_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_puestos_adm</servlet-name>
        <url-pattern>/admin/Empleado/sr_puestos_adm</url-pattern>
        <url-pattern>/admin/Administrador/sr_puestos_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_ComprasDetalle_adm</servlet-name>
        <url-pattern>/admin/Empleado/sr_ComprasDetalle_adm</url-pattern>
        <url-pattern>/admin/Administrador/sr_ComprasDetalle_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_VentasDetalles_adm</servlet-name>
        <url-pattern>/admin/Empleado/sr_VentasDetalles_adm</url-pattern>
        <url-pattern>/admin/Administrador/sr_VentasDetalles_adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_cuentaempleado</servlet-name>
        <url-pattern>/admin/Empleado/sr_cuentaempleado</url-pattern>
        <url-pattern>/admin/Administrador/sr_cuentaempleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_cuentacliente</servlet-name>
        <url-pattern>/admin/Empleado/sr_cuentacliente</url-pattern>
        <url-pattern>/admin/Administrador/sr_cuentacliente</url-pattern>
    </servlet-mapping>
</web-app>
